@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #121212;
  --secondary: #464646;
}

body {
  font-family: "SF UI Display", sans-serif;
}

.height-auto {
  height: auto;
  height: calc-size(auto);
}

a:hover {
  color: var(--primary);
}
